<html>
<head>
    <title>Movies API Example</title>
</head>
<body>
    <div id="content"></div>
    <script>
        function test(response) {
            console.log(response)
            content = "";
            content += "<img src='https://image.tmdb.org/t/p/w500" + response.poster_path + "'>";
            content += "<h1>" + response.original_title + "</h1>";
            content += "<p>" + response.overview + "</p>";
            document.getElementById("content").innerHTML += content;
        }
    </script>
    <script src="https://api.themoviedb.org/3/movie/{{iden}}?api_key=a92f11acc6d5cd7d07bb3abfd12fc23c&callback=test"></script>
</body>
</html>